.experienceSection {
  padding-left: 15%;
  height: 40vh;
}

.experienceHeader {
  display: inline-block;
  color: #fca311;
  width: 50%;
  border-width: 1px;
  border-style: double;
  margin-left: 1rem;
  /* margin-top: 2px; */
}

button {
  margin: 5px;
  border: none;
  font-size: 20px;
  transition: all 0.5s;
}

button:hover {
  color: #ff9d00;
  transform: translate(0px, -10px);
}

h4 {
  color: #fca311;
}

.active-btn {
  color: #fca311;
}

.active-btn:hover {
  transform: none;
}

.section {
  display: none;
  transform: translateY(-100%) scaleY(0);
  transition: all 0.4s ease-in-out;
}

.description > .activeSec {
  display: block;
  animation: appear 0.6s ease-in-out;
  transform: translateY(0) scaleY(1);
  width: 450px;
}

@keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controls {
  margin-right: 50px;
}
